In [5]:
import pandas as pd

record1  = pd.Series({'Name':'Alice','Class':'Chem','Score':23})
record2  = pd.Series({'Name':'jack','Class':'phy','Score':234})
record3  = pd.Series({'Name':'BOB','Class':'math','Score':89})

In [6]:
df = pd.DataFrame([record1,record2,record3],index = ['scool1','school2','school3'])

In [7]:
df.head()

          Name Class  Score
scool1   Alice  Chem     23
school2   jack   phy    234
school3    BOB  math     89

In [12]:
students = [
    {'Name':'Alice','Class':'Chem','Score':23},
    {'Name':'jack','Class':'phy','Score':234},
    {'Name':'BOB','Class':'math','Score':89}
    
    
]

df = pd.DataFrame(students,index=['school1','school1','school3'])

In [13]:
df.head()

          Name Class  Score
school1  Alice  Chem     23
school1   jack   phy    234
school3    BOB  math     89

In [15]:
df.loc['school3']

Name      BOB
Class    math
Score      89
Name: school3, dtype: object

In [18]:
type(df.loc['school3'])

pandas.core.series.Series

In [16]:
df.loc['school1']

          Name Class  Score
school1  Alice  Chem     23
school1   jack   phy    234

In [17]:
type(df.loc['school1'])

pandas.core.frame.DataFrame

In [19]:
df.loc['school1','Name']

school1    Alice
school1     jack
Name: Name, dtype: object

In [35]:
type(df.loc['school3',['Name','Score']])

pandas.core.series.Series

In [28]:
df.T

      school1 school1 school3
Name    Alice    jack     BOB
Class    Chem     phy    math
Score      23     234      89

In [30]:
df.T.loc['Name']

school1    Alice
school1     jack
school3      BOB
Name: Name, dtype: object

In [31]:
type(df.T.loc['Name'])

pandas.core.series.Series

In [32]:
df['Name']

school1    Alice
school1     jack
school3      BOB
Name: Name, dtype: object

In [33]:
df.loc['Name']

KeyError: 'Name'

In [36]:
df.loc[:,['Name','Score']]

          Name  Score
school1  Alice     23
school1   jack    234
school3    BOB     89

In [37]:
df.drop('school1')

        Name Class  Score
school3  BOB  math     89

In [38]:
df

          Name Class  Score
school1  Alice  Chem     23
school1   jack   phy    234
school3    BOB  math     89

In [41]:
df.drop('Name',inplace=True,axis=1)  ## axis = 1 means we are now dropping column 

df

        Class  Score
school3  math     89

In [44]:
copy_df = df.copy()
copy_df

        Class
school3  math

In [46]:
df.loc['scool2'] = 23
df

        Class
school3  math
scool2     23

In [49]:
df['school3'] ## Normally we get column not row for getting row we use loc

KeyError: 'school3'

In [50]:
df

        Class
school3  math
scool2     23

In [51]:
df['new']=None
df

        Class   new
school3  math  None
scool2     23  None

In [52]:
del df['new']
df

        Class
school3  math
scool2     23